{% extends "base.html" %}

{% block title %}Blogly: Add Post as {{user.get_full_name()}}{% endblock %}
{% block heading %}Add Post as {{user.get_full_name()}}{% endblock %}

{% block content %}
<form action="/users/{{user.id}}/posts/new" method="POST">
    <input type="text" name="title" placeholder="title">
    <input type="text" name="content" placeholder="content">
    <h2>Tags:</h2>
    {% for tag in tags %}
    <input type="checkbox" name="tag{{tag.id}}"/>
    <label for="tag{{tag.id}}">{{tag.name}}</label>
    {% endfor %}
    <br/><br/><button>Add post</button>
</form>
<p><a href="/users/{{user.id}}">Cancel</a></p>
{% endblock %}