{% extends "base.html" %}

{% block title %}Blogly Moderation Interface: {{user.get_full_name()}}{% endblock %}
{% block heading %}{{user.get_full_name()}}{% endblock %}

{% block content %}
    <img src="{{user.image_url}}"/>
    <ul>
        <li>First Name: {{user.first_name}}</li>
        <li>Last Name: {{user.last_name}}</li>
        <li>ID: {{user.id}}</li>
    </ul>
    <p><a href="/users/{{user.id}}/edit">Edit Profile</a></p>
    <form action="/users/{{user.id}}/delete" method="POST">
        <button>Delete User</button>
    </form>
    <h2>Posts</h2>
    <ul>
        {% for post in user.posts %}
        <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
        {% endfor %}
    </ul>
    <p><a href="/">Go Back</a></p>
{% endblock %}