{% extends "base.html" %}

{% block title %}Blogly Moderation Interface: {{user.first_name}} {{user.last_name}}{% endblock %}
{% block heading %}{{user.first_name}} {{user.last_name}}{% endblock %}

{% block content %}
    <img src="{{user.image_url}}"/>
    <ul>
        <li>First Name: {{user.first_name}}</li>
        <li>Last Name: {{user.last_name}}</li>
        <li>ID: {{user.id}}</li>
    </ul>
    <p><a href="/update/{{user.id}}">Edit Profile</a></p>
    <p><a href="/">Go Back</a></p>
{% endblock %}