{% extends "base.html" %}

{% block title %}Blogly: Edit {{post.title}}{% endblock %}
{% block heading %}Edit {{post.title}}{% endblock %}

{% block content %}
<form action="/posts/{{post.id}}/edit" method="POST">
    <input type="text" name="title" placeholder="title" value="{{post.title}}">
    <input type="text" name="content" placeholder="content" value="{{post.content}}">
    <h2>Tags:</h2>
    {% for tag in tags %}
    <input type="checkbox" name="tag{{tag.id}}" {% if tag in post.tags %}checked{% endif %}/>
    <label for="tag{{tag.id}}">{{tag.name}}</label>
    {% endfor %}
    <br/><br/>
    <button>Update post</button>
</form>
<a href="/posts/{{post.id}}">Cancel</a>
{% endblock %}