{% extends "base.html" %}

{% block title %}Blogly - {{post.title}} - {{post.creator.get_full_name()}}{% endblock %}
{% block heading %}{{post.title}}{% endblock %}

{% block content %}
    <container>
        <p>{{post.content}}</p>
        {% if post.tags %}<p>
            Tagged with:
            {% for tag in post.tags %}
            <a href="/tags/{{tag.id}}">{{tag.name}}</a>
            {% endfor %}
        </p>{% endif %}
        <p>by <a href="/users/{{post.creator.id}}">{{post.creator.get_full_name()}}</a> on {{post.created_at}}</p>
    </container>
    <p>
        <a href="/">back to userlist</a> 
        <a href="/posts/{{post.id}}/edit">edit</a> 
        <form action="/posts/{{post.id}}/delete" method="POST"><button>Delete Post</button></form>
    </p>
{% endblock %}